name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_call:

jobs:
  lint-and-typecheck:
    name: Lint & Type Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup

      - name: Lint
        run: pnpm run check

      - name: Type check
        run: pnpm run compile

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup

      - name: Test
        run: pnpm test
